# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# TypeScript build info
*.tsbuildinfo

# build output
dist/

# nextjs build
.next/

# coverage reports
coverage/

# logs
logs
*.log

# OS files
.DS_Store

# uploaded files
backend/uploads/